{% extends 'base.html' %}

{% block content %}
    <div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-xl font-semibold mb-5 text-center">Register</h2>
        
        {% if messages %}
            {% for message in messages %}
                <div class="bg-green-500 text-white p-2 rounded mb-4">{{ message }}</div>
            {% endfor %}
        {% endif %}
        
        <form method="post" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="username" class="block text-sm font-medium text-gray-700 mb-1">Username</label>
                <input type="text" id="username" name="username" class="w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Enter username" required>
                <p class="text-xs text-red-500">{{ username_error }}</p>
            </div>
            <div>
                <label for="email" class="block text-sm font-medium text-gray-700 mb-1">Email</label>
                <input type="email" id="email" name="email" class="w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Enter email" required>
                <p class="text-xs text-red-500">{{ email_error }}</p>
            </div>
            <div>
                <label for="password" class="block text-sm font-medium text-gray-700 mb-1">Password</label>
                <input type="password" id="password" name="password" class="w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Enter password" required>
                <p class="text-xs text-red-500">{{ password_error }}</p>
            </div>
            <div>
                <label for="confirm_password" class="block text-sm font-medium text-gray-700 mb-1">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" class="w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Confirm password" required>
                <p class="text-xs text-red-500">{{ confirm_password_error }}</p>
            </div>

            <div>
                <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition-all duration-150 ease-in-out">
                    Register
                </button>
            </div>
        </form>
        <p class="mt-4 text-center text-sm text-gray-600">
            Already have an account?
            <a href="{% url 'login' %}" class="text-blue-500 hover:text-blue-600">Log in</a>
        </p>
    </div>
{% endblock %}